<h1>Moja strona www :)</h1>
<p><a href="/bio/index.html">Bio</a> in app/views/home/index.html.erb</p>
<p><a href="/portfolio/index.html">Portfolio</a> in app/views/home/index.html.erb</p>
<p><a href="/contact/index.html">Contact</a> in app/views/home/index.html.erb</p>